@keyframes blinkingBg{
    0%{     background-image: inherit;}
    49%{    background-image: none;}
    50%{    background-image: none;}
    85%{    background-image: inherit;}
    100%{   background-image: inherit;}
}


:hover > ::after
,:hover::after{
    pointer-events:none;
}

.star{
    iframe#_audio{
        display:inline-block;
        position:relative;
        top:-4em;
        right:-1.5em;
        transform:scale(.7);
        height:6em;
        width:12em;
        border:none;
        z-index:100;
        opacity:.5;
        background:transparent;
    }
    @at-root em#{&}{
        ~ #ting{
            position:relative;
            display:flex;
            height:0;
            width:0;
            right:-3px;
            overflow:visible;
        }
    }
    @at-root a#{&}{
        height:fit-content;
        color:cadetblue;
        z-index:101;
        &:visited{
            color:highlight;
        }
    }
}

em.identify{
    filter:none!important;
    mix-blend-mode:hard-light;
    background:lightyellow!important;
    box-shadow:1px 1px 2px rgba(0,255,80,.8), 0 0 .5em rgba(205,160,80,.9)!important;
    display:inline-block;
    z-index:3;
}

mark[fore]{
    background-image:linear-gradient(to right, rgba(205,205,0,.95),rgba(123, 255, 0, 0.5), transparent);
    display:inline;
    position:relative;
    max-width:0;
    &::after{
        animation:blinkingBg 1s infinite;
        content:attr(data-content);
        position: absolute;
        max-height:1.5em;
        color:transparent;
        border:none;
        border-radius:.35em;
        background:transparent;
        background-image:inherit;
        opacity:.6;
        padding:0 .3em;
        margin-left:-.07em;
        margin-top:.15em;
        font-size:.8em;
    }
}
